<p id="notice"><%= notice %></p>

<h1>Custom Threads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_threads.each do |custom_thread| %>
      <tr>
        <td><%= custom_thread.title %></td>
        <td><%= custom_thread.project_id %></td>
        <td><%= link_to 'Show', custom_thread %></td>
        <td><%= link_to 'Edit', edit_custom_thread_path(custom_thread) %></td>
        <td><%= link_to 'Destroy', custom_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Thread', new_custom_thread_path %>
