<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :custom_thread_id %>
    <%= form.hidden_field :custom_thread_id %>
  </div>

  <div class="field">
    <%#= form.label :user_id %>
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
  <label for="comment">Comment:</label>
  <%= form.text_area :comment, class:"form-control", rows:"5" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>