<%= form_with(model: user, local: true) do |form| %>
    <div class="field">
      <label for="username">Username</label>
      <%= form.text_field :username, class: "form-control", id: "username" %>
    </div>
  
    <div class="field">
      <label for="password">Password</label>
      <%= form.text_field :password, class: "form-control", id: "password" %>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <%= form.text_field :email, class: "form-control", id: "email" %>
    </div>
  
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>